includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 9

    excludePaths:
        - vendor

    ignoreErrors:
        # Laravel notifications define these methods on application subclasses.
        -
            message: '#Call to an undefined method Illuminate\\Notifications\\Notification::toTwilioSms\(\)#'
            path: src/Notifications/TwilioSmsChannel.php
            count: 1
        -
            message: '#Call to an undefined method Illuminate\\Notifications\\Notification::toTwilioCall\(\)#'
            path: src/Notifications/TwilioCallChannel.php
            count: 1
